[Desktop Entry]
Version=1.0.0
Name=whisperrnote app
GenericName=whisperrnote app
Comment=WhisperNote Flutter App
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=whisperrnote_app
